@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.fade {
  animation: fadeIn 2s;
}

div.tech > img {
  display: block;
  max-width: 4vw;
  max-height: 4vw;
  width: auto;
  height: auto;
  margin-right: 4px;
}

#experience > div > img {
  display: block;
  max-width: 40vw;
  max-height: 20vw;
  width: auto;
  height: auto;
  margin-left: 10vw;
  object-fit: cover;
}

.skillImg > img {
  display: block;
  max-width: 2vw;
  max-height: 2vw;
  width: auto;
  height: auto;
  object-fit: cover;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; */
  /* Adjust as needed */
  animation: typing 2.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 0.35s ease-in;
}
.active.fade-left {
  animation: fade-left 0.35s ease-in;
}
.active.fade-right {
  animation: fade-right 0.35s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Progress bar */

.animated-progress {
  width: inherit;
  height: 18px;
  border-radius: 25px;
  margin: 20px 0px;
  border: 1px solid rgb(80, 73, 73);
  overflow: hidden;
  position: relative;
}

.animated-progress span {
  height: 100%;
  display: block;
  width: 0;
  color: rgb(255, 251, 251);
  line-height: 18px;
  position: absolute;
  text-align: end;
  padding-right: 5px;
  border-radius: 0 10px 10px 0;
}

/* Scrolling animation */

#cards {
  list-style: none;
  outline: calc(var(--outline-width) * 10) solid blue;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numcards), var(--card-height));
  gap: var(--card-margin);
}

.card {
  outline: var(--outline-width) solid hotpink;
}

.card__content {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  color: rgb(10, 5, 7);
  border-radius: 1em;
  overflow: hidden;
  height:60vh;
  display: grid;
  grid-template-areas: "text img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  align-items: stretch;
  outline: var(--outline-width) solid lime;
}

.card__content > div {
  grid-area: text;
  width: 80%;
  place-self: center;
  text-align: left;

  display: grid;
  gap: 1em;
  place-items: start;
}

.card__content > figure {
  grid-area: img;
  overflow: hidden;
}

.card__content > figure > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

:root {
  --card-height: 55vh;
  --card-margin: 2vw;
  --card-top-offset: 1em;
  --numcards: 6;
  --outline-width: 0px;
}

#cards {
  padding-bottom: calc(
    var(--numcards) * var(--card-top-offset)
  ); /* Make place at bottom, as items will slide to that position*/
  margin-bottom: var(
    --card-margin
  ); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

#title {
  position: sticky;
}

#card_1 {
  --index: 1;
}

#card_2 {
  --index: 2;
}

#card_3 {
  --index: 3;
}

#card_4 {
  --index: 4;
}

#card_5 {
  --index: 5;
}

#card_6 {
  --index: 6;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

/* Work Experience */

#works {
  /* list-style: none; */

  /* display: grid;
  grid-template-columns: repeat(var(--numworks), var(--works-width));
  grid-template-rows: 1fr; */
  /* gap: var(--work-width); */
}

:root {
  --work-height: 40vw;
  --work-width: 4vw;
  --work-right-offset: 1em;
  --numworks: 2;
  --outline-width: 0px;
}

#title {
  position: sticky;
}

#work_1 {
  --index: 1;
}

#work_2 {
  --index: 2;
}

.work {
  position: sticky;
  top: 5vh;
  padding-right: calc(var(--index) * var(--work-right-offset));
}
